.card {
  cursor: pointer;
  text-align: center;
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
font-size: 10px;
border-radius: 10px;
box-shadow: -2px 0 4px black;
  animation: hover-out-apps 2s forwards;
  transition: transform 2s;
}
.card:hover {
  width: 100vw;
  margin: -8px;
  border-radius: 10px;
  box-shadow: 2px 1px 4px rgba(29, 2, 51, 0.541);
  animation: hover-in-apps 2s forwards;
  transform: scale(1.1);
}

.card-img {
  object-fit: contain;
}


.border-b {
  margin: 4px;
}

h1 {
  text-shadow: 0 0 1px purple;
}

button {
  box-shadow: -2px 0 4px rgb(34, 2, 77);
}

div[id="main-card"] {
  box-shadow: 0 2px 12px black;
  animation: hover-out 2s forwards;
  transition: transform 2s;
  width: 220px;
}

div[id="main-card"]:hover {
  box-shadow: 10px 1px 12px rgb(29, 2, 51);
  animation: hover-in 2s forwards;
  transform: scale(1.1);

}

div[id="apps-list"] {
  box-shadow: 0 2px 6pxpx black;
  animation: hover-out 2s forwards;
  transition: transform 2s;
  border-radius: .5em;
}

div[id="apps-list"]:hover {
  box-shadow: 4px 1px 12px grey;
  animation: hover-in 2s forwards;
  transform: scale(1.1);

}

@keyframes hover-in-apps {
  from{ box-shadow: 0px 2px 8px darkgrey;
  }
  to{ box-shadow: -5px 1px 6px rgb(66, 47, 79);}
}

@keyframes hover-out-apps {
  from{ box-shadow: -5px 1px 6px rgb(66, 47, 79);
  }
  to{ box-shadow: 0px 2px 8px darkgrey;}
}


@keyframes hover-in {
  from{ box-shadow: 0 2px 12px rgb(29, 2, 51);;
  }
  to {box-shadow: -30px 5px 24px rgb(29, 2, 51) ;}
}

@keyframes hover-out {
  from{
      box-shadow: -30px 5px 24px rgb(29, 2, 51);
  }
  to{
      box-shadow: 0 2px 12px rgb(29, 2, 51);
  }
}